<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="{{APP_RUN_NAME}}" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="{{MODULE_NAME}}" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="{{MAIN_CLASS}}" />
    <option name="ENABLE_BROWSER" value="true" />
    <option name="BROWSER_URL" value="http://localhost:{{BACKEND_PORT}}/swagger-ui.html" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>
